---
// Import AvatarTestimonialSection component for use in this module
import AvatarTestimonialSection from "../../ui/avatars/AvatarTestimonialSection.astro";
import FeaturesStats from "../features/FeaturesStats.astro";

// Define props from Astro
const { title, testimonials } = Astro.props;

// Define TypeScript interface for Testimonial
interface Testimonial {
  content: string;
  author: string;
  role: string;
  avatarSrc: string;
  avatarAlt: string;
}

// Define TypeScript interface for props
interface Props {
  title: string;
  testimonials: Testimonial[];
}
---

<!-- Main div that wraps the testimonials section -->
<section
  class="mx-auto max-w-[85rem] rounded-3xl bg-white px-4 py-16 sm:px-6 lg:px-8 2xl:max-w-full"
  id="testimonials"
>
  <FeaturesStats
    title="By the Numbers"
    subTitle="Our commitment to quality and reliability is evident in every project we undertake. At ScrewFast, we are dedicated to delivering industry-leading services that ensure your construction projects are built to last."
    mainStatTitle="96%"
    mainStatSubTitle="Customer Satisfaction Rate"
    stats={[
      {
        stat: "55+",
        description: "Resellers across Europe",
      },
      {
        stat: "95,000+",
        description: "Sold Products",
      },
      {
        stat: "131+",
        description: "Available Products",
      },
    ]}
  />

  <!-- Title of the testimonials section -->
  <div class="mb-6 mt-20 max-w-2xl text-center sm:w-3/4 sm:text-left">
    <h2 class="text-balance text-4xl font-bold">
      {title}
    </h2>
  </div>

  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    <!-- Looping through each testimonial data and rendering it -->
    {
      testimonials.map((testimonial) => (
        <div class="flex h-auto rounded-3xl bg-zinc-100 p-6">
          <div class="flex flex-col rounded-xl">
            <div class="flex-auto">
              <p class="text-pretty text-base italic md:text-lg">
                {testimonial.content}
              </p>
            </div>

            <div class="rounded-b-xl">
              <div class="flex items-center">
                <AvatarTestimonialSection
                  src={testimonial.avatarSrc}
                  alt={testimonial.avatarAlt}
                />

                <div class="ms-3 mt-4 grow sm:mt-0">
                  <p class="text-sm font-bold sm:text-base">
                    {testimonial.author}
                  </p>
                  <p class="text-xs">{testimonial.role}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
