---
import ProductCard from "@/components/ui/cards/ProductCard.astro";
import LinkButton from "@/components/ui/buttons/LinkButton.astro";
import SectionTitle from "@/components/ui/section-title.astro";
import { getCollection } from "astro:content";

const bestSellingProducts = await getCollection("products", ({ id, data }) => {
  return id.startsWith("en/") && data?.bestSelling === true;
});
---

<section class="px-3 py-12 sm:px-8">
  <SectionTitle
    title="Best Selling Products"
    subTitle="Discover our most popular products, loved by customers worldwide."
  />

  <div class="hidden gap-4 sm:grid sm:grid-cols-4">
    {
      bestSellingProducts.map((product) => (
        <ProductCard
          title={product.data.title}
          price={product.data.price}
          description={product.data.description}
          imageSrc={product.data.img}
          family={product.data.family}
          link={product.slug}
          id={product.data.id}
        />
      ))
    }
  </div>
  <div
    class="carousel carousel-center w-full max-w-md space-x-4 rounded-lg sm:hidden"
  >
    {
      bestSellingProducts.map((product) => (
        <ProductCard
          title={product.data.title}
          price={product.data.price}
          description={product.data.description}
          imageSrc={product.data.img}
          family={product.data.family}
          link={product.slug}
          id={product.data.id}
          class="carousel-item w-[90%]"
        />
      ))
    }
  </div>

  <div class="mt-12 flex justify-center">
    <LinkButton
      title="+ View All Products"
      url="/products"
      class="bg-primary px-6 py-4 text-xl text-white"
    />
  </div>
</section>
