---
import CardComponent from "@/components/ui/blocks/CardComponent.astro";
import asala from "@/assets/images/cards/asala-card-bg.png";
import sallora from "@/assets/images/cards/sallora-food-card-bg.png";
import salloraUglo from "@/assets/images/cards/sallora-uglo-card-bg.png";
import SectionTitle from "@/components/ui/section-title.astro";

// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}
---

<section>
  <!-- Title and description -->
  <SectionTitle title={title} subTitle={subTitle} />

  <div class="flex w-full flex-col justify-center gap-4">
    <div class="flex-g flex flex-row gap-4">
      <CardComponent
        title="Salloura Oglu"
        subTitle="Delight in the rich tradition of Arabic sweets with Sallora Uglo. Perfectly crafted for those who appreciate authentic and irresistible desserts."
        ImageSrc={salloraUglo}
        bgColor="bg-gradient-to-br from-green-300 to-green-700"
        btnColor="bg-black"
        btnText="Explore Salloura Uglo Products"
        totalProducts={32}
      />
      <CardComponent
        title="Salloura Food Products"
        subTitle="Premium quality food products sourced from the finest producers. Sallora Food Products are a trusted name for reliability and flavor."
        ImageSrc={sallora}
        bgColor="bg-gradient-to-br from-gold-300 to-gold-700"
        btnColor="bg-black"
        btnText="Explore Salloura Food Products"
        totalProducts={54}
      />
    </div>
    <div class="flex-g flex flex-row gap-4">
      <CardComponent
        title="Asala Products"
        subTitle="Authenticity in every bite. Asala Food Products deliver a taste of tradition, bridging heritage and modern culinary needs."
        ImageSrc={asala}
        bgColor="bg-gradient-to-br from-copper-300 to-copper-700"
        cardWidth="w-2/3"
        btnColor="bg-black"
        btnText="Explore Asala Products"
        totalProducts={45}
      />
      <CardComponent
        title="Explore All Products"
        subTitle="Discover the rich and authentic flavors of Salloura Uglo, where tradition meets excellence."
        ImageSrc={salloraUglo}
        bgColor="bg-gradient-to-br from-zinc-100 to-zinc-200"
        cardWidth="w-1/3"
        btnColor="bg-black"
        textColor="text-black"
        btnText="Explore All Products"
        totalProducts={131}
      />
    </div>
  </div>
</section>
