---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";
import SectionTitle from "@/components/ui/section-title.astro";
import ProductCard from "@/components/ui/cards/ProductCard.astro";

const url = Astro.url;
const productName = url.pathname.substring(url.pathname.lastIndexOf("/") + 1);

const product = await getCollection("products", ({ id, data }) => {
  return id.startsWith("en/") && data.family.includes(productName);
});

const pageTitle: string = `Products | ${SITE.title}`;
const GROUPS = [
  { title: "salloura oglu", path: "salloura-oglu-products" },
  { title: "salloura", path: "salloura-products" },
  { title: "asala", path: "asala-products" },
  { title: "all products", path: "" },
];
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    url: "https://screwfast.uk/products",
    name: "Hardware Tools | ScrewFast",
    description:
      "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://screwfast.uk",
      name: "ScrewFast",
      description:
        "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  <section class="my-14">
    <SectionTitle
      title="Explore our Products"
      subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, cumque reiciendis. Hic dolores, enim et veritatis nesciunt, omnis quae amet itaque exercitationem reiciendis ratione assumenda asperiores. Quibusdam aliquid vel quas?"
    />
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 rounded-3xl bg-green-100 p-4">
        <ul class="flex flex-row space-x-6 px-4">
          <li class="text-xl font-semibold capitalize">Filter By:</li>
          {
            GROUPS.map((group) => (
              <li class="">
                <a
                  href={`/products/${group.path}`}
                  class="cursor-pointer text-xl font-semibold capitalize text-zinc-400 hover:text-black"
                >
                  {group.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="col-span-12 rounded-3xl bg-zinc-100 p-4">
        <div class="grid grid-cols-4 gap-4">
          {
            product.map((product) => (
              <ProductCard
                title={product.data.title}
                price={product.data.price}
                description={product.data.description}
                imageSrc={product.data.img}
                family={product.data.family}
                link={product.slug}
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</MainLayout>
