---
import { Image } from "astro:assets";
import farmImage3 from "@srcImages/farms/farm-image-3.jpg";
import farmImage4 from "@srcImages/farms/farm-image-4.jpg";

// Define props from Astro
const { title, subTitle, benefits } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  benefits?: Array<{ title: string; content: string }>;
}

// Define SVG marker to be used in the component
const ListItemMarker: string = `<svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="mt-0.5 h-6 w-6 text-primary flex-none"><path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/></svg>`;
---

<section
  class="rounded-3xlpx-4 overflow-visible py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Grid -->
  <div class="grid grid-cols-2 space-x-10">
    <div class="relative rounded-3xl p-8">
      <Image
        class="absolute right-4 top-4 h-fit w-2/3 rounded-xl"
        src={farmImage3}
        alt="Mockup of floating boxes"
      />
      <Image
        class="absolute bottom-4 left-4 w-2/3 rounded-xl"
        src={farmImage4}
        alt="Mockup of floating boxes"
      />
    </div>

    <div class="mt-5 sm:mt-10 lg:mt-0">
      <div class="space-y-6 sm:space-y-8">
        <div class="space-y-2 md:space-y-4">
          <h2 class="text-balance text-3xl font-bold lg:text-4xl">
            {title}
          </h2>
          {subTitle && <p class="text-pretty">{subTitle}</p>}
        </div>
        {
          benefits && (
            <ul class="space-y-2 sm:space-y-4">
              {benefits.map((item) => (
                <li class="flex space-x-3">
                  <Fragment set:html={ListItemMarker} />
                  <div>
                    <h3 class="text-lg font-semibold">{item.title}</h3>
                    <div class="text-pretty text-sm font-light">
                      {item.content}
                    </div>
                  </div>
                </li>
              ))}
            </ul>
          )
        }
      </div>
    </div>
  </div>
</section>
