---
import { Image } from "astro:assets";
import LinkButton from "../buttons/LinkButton.astro";
import QuickAddRemoveCartButton from "@/components/react/quick-add-remove-cart-btn";

const {
  title,
  price,
  description,
  imageSrc,
  family,
  link,
  id,
  class: classStyle,
} = Astro.props;

interface Props {
  title: string;
  price: number;
  description: string;
  imageSrc: any;
  family: Array<string>;
  link: string;
  id: string;
  class?: string;
}

const product = {
  title,
  price,
  id,
  imageSrc,
  family,
  link,
};
---

<!-- component -->
<div class:list={["group flex h-full items-center justify-center", classStyle]}>
  <div class="h-full max-w-[720px]">
    <!-- Centering wrapper -->
    <div
      class="relative flex h-full flex-col overflow-hidden rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
    >
      <div
        class="relative m-0 overflow-hidden rounded-xl bg-transparent bg-white bg-clip-border text-gray-700 shadow-none"
      >
        <Image
          src={imageSrc}
          alt="ui/ux review check"
          class="h-80 rounded-xl object-contain sm:h-64"
          loading={"lazy"}
        />
      </div>
      <div class="flex flex-grow flex-col justify-between bg-zinc-50 p-4">
        <div>
          <p class="mb-1 text-xs text-zinc-400">
            #{family}
          </p>
          <p
            class="block font-sans text-2xl font-semibold leading-snug tracking-normal text-black antialiased"
          >
            {title}
          </p>
          <!-- <p class="mt-2 text-sm text-gray-600">{description}</p> -->
        </div>
        <div class="mt-4 flex flex-row items-center justify-between">
          <p class="text-lg font-bold text-black">{price} €</p>
          <!-- <LinkButton
            title="View Product"
            url={link}
            bgColor="bg-primary"
            class="rounded-3xl px-2 py-2 text-sm text-white hover:bg-black"
          /> -->
          <QuickAddRemoveCartButton product={product} client:visible />
        </div>
      </div>
    </div>
  </div>
</div>
