---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { SITE } from "@data/constants";
import SectionTitle from "@/components/ui/section-title.astro";
import ProductCard from "@/components/ui/cards/ProductCard.astro";

const product = await getCollection("products", ({ id }) => {
  return id.startsWith("en/");
});
const url = Astro.url;
const productName = url.pathname.substring(url.pathname.lastIndexOf("/") + 1);

product.sort((a, b) => Number(a.data.weight) - Number(b.data.weight));

const pageTitle: string = `Products | ${SITE.title}`;
const GROUPS = [
  { title: "all products", path: "" },
  { title: "salloura oglu", path: "salloura-oglu-products" },
  { title: "salloura", path: "salloura-products" },
  { title: "asala", path: "asala-products" },
];
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    url: "https://screwfast.uk/products",
    name: "Hardware Tools | ScrewFast",
    description:
      "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://screwfast.uk",
      name: "ScrewFast",
      description:
        "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  <section class="my-14">
    <SectionTitle
      title="Explore our Products"
      subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, cumque reiciendis. Hic dolores, enim et veritatis nesciunt, omnis quae amet itaque exercitationem reiciendis ratione assumenda asperiores. Quibusdam aliquid vel quas?"
    />

    <div class="drawer">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        <!-- Navbar -->
        <div
          class="navbar mb-8 w-full rounded-3xl bg-primary/20 text-lg text-black"
        >
          <div class="flex-none lg:hidden">
            <label
              for="my-drawer-3"
              aria-label="open sidebar"
              class="btn btn-square btn-ghost"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-6 w-6 stroke-current"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16"></path>
              </svg>
            </label>
          </div>
          <div class="mx-2 flex-1 px-2 text-lg font-semibold text-primary">
            Filter by
          </div>

          <div class="hidden flex-none lg:block">
            <ul class="menu menu-horizontal">
              <!-- Navbar menu content here -->
              {
                GROUPS.map((group) => (
                  <li>
                    <a
                      href={`/products/${group.path}`}
                      class:list={[
                        "cursor-pointer text-lg font-semibold capitalize",
                        productName === group.path
                          ? "rounded-lg bg-primary px-3 text-white hover:bg-violet-400"
                          : "text-zinc-400 hover:text-black",
                      ]}
                    >
                      {group.title}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>
        <!-- Page content here -->
        <div
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5"
        >
          {
            product.map((product) => (
              <ProductCard
                title={product.data.title}
                price={product.data.price}
                description={product.data.description}
                imageSrc={product.data.img}
                family={product.data.family}
                link={`${product.slug.substring(product.slug.indexOf("/") + 1)}`}
                id={product.data.id}
              />
            ))
          }
        </div>
      </div>
      <div class="drawer-side z-50">
        <label
          for="my-drawer-3"
          aria-label="close sidebar"
          class="drawer-overlay"></label>

        <ul
          class="menu min-h-full w-80 rounded-[0_50px_50px_0] bg-zinc-50 px-4 py-10"
        >
          <li class="mb-2 text-xl font-semibold text-green-900">Filter By:</li>
          <!-- Sidebar content here -->
          {
            GROUPS.map((group) => (
              <li>
                <a
                  href={`/products/${group.path}`}
                  class:list={[
                    "cursor-pointer text-xl font-semibold capitalize",
                    productName === group.path
                      ? "rounded-lg bg-green-700 px-3 py-1 text-white"
                      : "text-zinc-400 hover:text-black",
                  ]}
                >
                  {group.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </section>
</MainLayout>
