---
// Importing necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import CardSmall from "@components/ui/cards/CardSmall.astro";
import CardWide from "@components/ui/cards/CardWide.astro";
import FeaturesStatsAlt from "@components/sections/features/FeaturesStatsAlt.astro";
import TestimonialsSectionAlt from "@components/sections/testimonials/TestimonialsSectionAlt.astro";

// Importing necessary functions from Astro
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";
import SectionTitle from "@/components/ui/section-title.astro";
import ProductCard from "@/components/ui/cards/ProductCard.astro";

// Fetching all the product related content and sorting it by main.id
// const product: CollectionEntry<"products">[] = (
//   await getCollection("products", ({ id }: { id: string }) => {
//     return id.startsWith("en/");
//   })
// ).sort(
//   (a: CollectionEntry<"products">, b: CollectionEntry<"products">) =>
//     Number(a.data.id) - Number(b.data.id)
// );

const product = await getCollection("products", ({ id }) => {
  return id.startsWith("en/");
});
const url = Astro.url;
const productName = url.pathname.substring(url.pathname.lastIndexOf("/") + 1);

product.sort((a, b) => Number(a.data.weight) - Number(b.data.weight));

const pageTitle: string = `Products | ${SITE.title}`;
const GROUPS = [
  { title: "all products", path: "" },
  { title: "salloura oglu", path: "salloura-oglu-products" },
  { title: "salloura", path: "salloura-products" },
  { title: "asala", path: "asala-products" },
];
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://screwfast.uk/products",
    url: "https://screwfast.uk/products",
    name: "Hardware Tools | ScrewFast",
    description:
      "Explore the durability and precision of ScrewFast tools, designed for both professionals and enthusiasts.",
    isPartOf: {
      "@type": "WebSite",
      url: "https://screwfast.uk",
      name: "ScrewFast",
      description:
        "ScrewFast offers top-tier hardware tools and expert construction services to meet all your project needs.",
    },
    inLanguage: "en-US",
  }}
>
  <section class="my-14">
    <SectionTitle
      title="Explore our Products"
      subTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, cumque reiciendis. Hic dolores, enim et veritatis nesciunt, omnis quae amet itaque exercitationem reiciendis ratione assumenda asperiores. Quibusdam aliquid vel quas?"
    />
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 rounded-3xl bg-green-100 px-4 py-6">
        <ul class="flex flex-row space-x-6 px-4">
          <li class="text-xl font-semibold capitalize">Filter By:</li>
          {
            GROUPS.map((group) => (
              <li>
                <a
                  href={`/products/${group.path}`}
                  class:list={[
                    "cursor-pointer text-xl font-semibold capitalize",
                    productName === group.path
                      ? "rounded-lg bg-green-700 px-3 py-1 text-white"
                      : "text-zinc-400 hover:text-black",
                  ]}
                >
                  {group.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="col-span-12 rounded-3xl bg-zinc-100 p-4">
        <div
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5"
        >
          {
            product.map((product) => (
              <ProductCard
                title={product.data.title}
                price={product.data.price}
                description={product.data.description}
                imageSrc={product.data.img}
                family={product.data.family}
                link={`${product.slug.substring(product.slug.indexOf("/") + 1)}`}
                client:idle
              />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</MainLayout>
